@import "tailwindcss";

@theme {
    --color-Paleta-Azul: #1E3A8A;
    --color-Paleta-Celeste: #3B82F6;
    --color-Paleta-Blanco: #FFFFFF;
    --color-Paleta-GrisClaro: #E5E7EB;
    --color-Paleta-VerdeSuave: #10B981;
    --color-Paleta-Negro: #000000;
  }